@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

main{
    padding-top: 40px;
    display: flex;
    gap: 16px;
    max-width: 1174px;
    margin: 0 auto;
}

.images_section{
    display: flex;
    gap: 16px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 16px;

}